@import '../../scss/constants.scss';

.Landing {
  height: 100vh;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .loginModal {
    background-color: $light;
    border-radius: 64px 0px 64px 64px;
    padding: 48px;

    .header {
      font-size: 32px;
      font-family: 'IBM Plex Serif';
      font-style: italic;
      color: $red;
      letter-spacing: -0.06em;
      margin-bottom: 16px;
    }
  }

  .street {
    font-size: 144px;
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: bold;
  }

  .bridge {
    font-size: 168px;
    font-family: 'IBM Plex Serif';
    font-style: italic;
    font-weight: bold;
    color: $red;
    margin-top: -150px;
    margin-left: 172px;
  }
}
