@import '../../scss/constants.scss';

.GameBid {
  .bid {
    width: 100%;
  }

  .bidInfo {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 90px;
    color: $dark0;
  }

  .subtitle {
    font-family: IBM Plex Serif;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    color: $dark0;
  }

  ::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }

  .bidChat {
    width: 360px;
    background-color: $dark0;
    border-radius: 64px;
    height: 600px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .bidBubble {
      margin-bottom: 12px;

      .user {
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        color: $light;
      }

      .bubble {
        width: 112px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-weight: bold;
        font-size: 24px;
        color: $light;
        border-radius: 16px;
        padding: 4px;

        &.loadingBubble {
          padding: 10px 4px;
        }
      }

      &.currUser {
        text-align: right;

        .bubble {
          margin-left: auto;
        }
      }
    }

    .bidSelection {
      background-color: $purple;
      margin: -32px;
      margin-top: 0;
      border-radius: 0 0 64px 64px;
      padding: 16px;

      .selectionRow {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .item {
          font-family: IBM Plex Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          opacity: 0.5;
          cursor: pointer;
          width: 36px;
          height: 36px;
          text-align: center;

          &:hover {
            color: $yellow;
            opacity: 1;
          }
        }

        .itemSuit {
          font-size: 32px;
          line-height: 32px;
        }

        .itemSelected {
          opacity: 1;
        }
      }

      .actions {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 8px;
      }
    }
  }
}

.textRed {
  color: $red !important;
}

.textBlue {
  color: $blue !important;
}

.textPurple {
  color: $purple !important;
}

.textYellow {
  color: $yellow !important;
}

.bgRed {
  background-color: $red;
}

.bgBlue {
  background-color: $blue;
}

.settings {
  position: fixed;
  right: 24px;
  bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spectatorText {
  width: fit-content;
  padding: 4px 24px;
  background-color: $dark1;
  color: $light;
  border-radius: 24px;
  font-size: 16px;
  font-family: IBM Plex Serif;
  text-align: center;
}