@import '../../scss/constants.scss';

.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 24px;

  &.disabled {
    opacity: 0.8;
  }
}

.cards.disabled .card {
  cursor: not-allowed;
  transform: scale(0.8);
  margin-left: -42px;
}

.card {
  margin-left: -32px;
  transform: scale(1);
  transition: margin-left 0.3s, margin-right 0.3s, transform 0.3s;
  transition-delay: 0.05s, 0.05s, 0.05s;
  cursor: pointer;

  &:hover {
    margin-left: 16px !important;
    margin-right: 48px !important;
    transform: scale(1.2) !important;
  }
}

.bgRed {
  background-color: $red;
}

.bgBlue {
  background-color: $blue;
}

.bgPurple {
  background-color: $purple;
}

.bgYellow {
  background-color: $yellow;
}
