@import '../../scss/constants.scss';

.SBNavbar {
  padding: 0 16px;
  height: 60px;
  width: 100%;

  .logo {
    .street {
      font-size: 24px;
      font-family: 'IBM Plex Sans';
      font-style: italic;
      font-weight: bold;
    }

    .bridge {
      font-size: 32px;
      font-family: 'IBM Plex Serif';
      font-style: italic;
      font-weight: bold;
      color: $red;
      margin-top: -26px;
      margin-left: 18px;
    }
  }

  .pageTitle {
    font-size: 24px;
    font-family: 'IBM Plex Sans';
    font-weight: bold;
    font-style: italic;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .userButton {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;

    .username {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: -4px;
    }

    .settingsButton {
      color: $dark0;
      font-weight: bold;
      font-size: 12px;
      height: 0;
      opacity: 0;
      transition: all 0.25s;
    }

    &:hover {
      .settingsButton {
        color: $cyan;
        height: 18px;
        opacity: 1;
      }
    }
  }
}

.children {
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y: visible;
}
