@import '../../scss/constants.scss';

.card {
  width: 100px;
  height: 140px;
  border: 6px solid $light;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 4px 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.small {
    width: 50px;
    height: 50px;
    border: 3px solid $light;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .cardVal {
      font-size: 20px;
    }

    .cardSuit {
      font-size: 26px;
      margin-top: -4px;
      margin-left: 2px;
    }
  }

  &.disabled {
    cursor: not-allowed;
    transform: scale(0.8);
    margin-left: -42px;
    background-color: $dark2;
    color: #5d6392;
    border-color: $dark0;

    &.small {
      transform: scale(1);
      margin-left: 0;
    }
  }

  .cardVal,
  .cardValReverse {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
  }

  .cardValReverse {
    margin-top: 12px;
    transform: rotate(180deg);
  }

  .cardSuit {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    line-height: 65px;
    margin-top: -12px;
  }
}

.bgRed {
  background-color: $red;
}

.bgBlue {
  background-color: $blue;
}

.bgPurple {
  background-color: $purple;
}

.bgYellow {
  background-color: $yellow;
}
