@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;1,700&family=IBM+Plex+Serif:ital,wght@1,700&display=swap');
@import './scss/constants.scss';
@import './scss/customBootstrap.scss';
@import './scss/fonts.scss';

html {
  font-size: 14px;
  font-weight: 400;
}

a.link,
a.link:hover {
  color: inherit;
}