$sans: 'IBM Plex Sans';
$serif: 'IBM Plex Serif';

$light: #E9EBF9;
$dark2: #202442;
$dark1: #25294A;
$dark0: #2D325A;

$red: #F14D60;
$purple: #7033FF;
$blue: #4E7CFF;
$yellow: #FDB513;
$green: #78CB38;
$cyan: #22C0FF;
